<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ author }} - {{ title }}</title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='resources/css/reset.css' />
    <link rel='stylesheet' href='resources/css/default.css' />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
</head>
<body>
<div id='main'>

<!-- HEADER -->
<div id='header'>
    <h1>{{ title }}</h1>
    <a href='mailto: {{ email }}'><h2>{{ author }}</h2></a>
    <h4>Last update: {{ date }}</h4>
</div>
<hr />

{% set img_counter = 0 %}

<!-- NOTEBOOK BEGIN -->
{% for category in entries %}
<h2 class='category-header'>{{ category }}</h2>
{% if categories[category]['image'] != '' -%}
{% set img_counter = img_counter + 1 %}
<div class='category-container'>
<img class='category-image' src='{{ categories[category]["image"] }}' 
    style='{{"float:right" if img_counter % 2 == 0 else "" }}' />
{% endif %}
<ul class='category'>
    {% for entry in entries[category] -%}
    <li>
        <time>{{ entry["date"] }}</time>
        <a href='{{ entry["url"] }}'>{{ entry["title"] }}</a>
    </li>
{% endfor -%}
</ul>
{% if categories[category]['image'] != '' -%}
</div>
<div style='clear:both'></div>
{% endif -%}
{% endfor -%}
</ul>

<br /><br />

</div>
</body>
</html>
