<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ author }} - {{ title }}</title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='resources/css/reset.css' />
    <link rel='stylesheet' href='resources/css/default.css' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato' />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Pacifico' />
</head>
<body>
<div id='main'>

<!-- HEADER -->
<div id='header'>
    <h1>{{ title }}</h1>
    <a href='mailto: {{ email }}'><h2>{{ author }}</h2></a>
    <h4>Last update: {{ date }}</h4>
</div>
<hr />

{% set img_counter = 0 %}

<!-- NOTEBOOK BEGIN -->
{% for category in entries %}

<!-- CATEGORY -->
{% if entries[category]['image'] != '' -%}
{% set img_counter = img_counter + 1 %}
<div class='category-container'>
    {% if img_counter % 2 == 1 -%}
    <div class='left-image'>
        <img class='category-image' src='{{ entries[category]["image"] }}' />
    </div>
    {% endif %}
{% endif %}
<div>
    <!-- ENTRIES -->
    <h2 class='category-header'>{{ category }}</h2>
    <ul class='category'>
        {% for entry in entries[category]['entries'] -%}
        <li>
            <time>{{ entry["date"] }}</time>
            <a href='{{ entry["url"] }}'>{{ entry["title"] }}</a>
        </li>
    {% endfor -%}
    </ul>
</div>
{% if img_counter % 2 == 0 -%}
<div class='right-image'>
    <img class='category-image' src='{{ entries[category]["image"] }}' />
</div>
{% endif %}
{% if entries[category]['image'] != '' -%}
</div>
<div style='clear:both'></div>
{% endif -%}
{% endfor -%}
</ul>

<br /><br />

</div>
</body>
</html>
