<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ author }} - {{ title }}</title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='resources/css/normalize.css' />
    <link rel='stylesheet' href='resources/css/skeleton.css' />
    <link rel='stylesheet' href='resources/css/default.css' />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Pacifico' />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Ubuntu' />
    {% if user_css != '' -%}
    <link rel='stylesheet' type='text/css' href='{{ user_css }}' />
    {% endif -%}
    {% if user_js != '' -%}
    <script type='text/javascript' src='{{ user_js }}' /></script>
    {% endif -%}
</head>
<body>
<div class="container">

<!-- HEADER -->
<div id='header'>
    <h1>{{ title }}</h1>
    <a href='mailto: {{ email }}'><h3>{{ author }}</h3></a>
    <span id='last-update'>Last update: {{ date }}</span>
</div>
<hr />

{% set img_counter = 0 %}

<!-- NOTEBOOK BEGIN -->
{% for category in entries %}

{% if entries[category].image != '' -%}
    {% set img_counter = img_counter + 1 %}
{% endif -%}

<!-- CATEGORY -->
<div class='row'>
    <!-- left column -->
    <div class="two columns">
        {% if entries[category].image != '' and img_counter % 2 == 1 -%}
        <div class='left-image'>
            <img class='category-image' src='{{ entries[category].image }}' />
        </div>
        {% else -%}
        &nbsp;
        {% endif -%}
    </div>

    <!-- middle column -->
    <div class='eight columns'>
        <h2 class='category-header'>{{ category }}</h2>
        <ul class='category'>
            {% for entry in entries[category] -%}
            {% if entry["date"].timestamp() > 0 -%}
                {% set entry_time = entry["date"].strftime("%Y/%m/%d") -%}
            {% else -%}
                {% set entry_time = "-" -%}
            {% endif -%}
            <li>
                <time>{{ entry_time }}</time>
                <a href='{{ entry["url"] }}'>{{ entry["title"] }}</a>
            </li>
            {% endfor -%}
        </ul>
    </div>

    <!-- right column -->
    <div class='two columns'>
        {% if entries[category].image != '' and img_counter % 2 == 0 -%}
        <div class='right-image'>
            <img class='category-image' src='{{ entries[category].image }}' />
        </div>
        <!--<div style='clear:both'></div>-->
        {% else -%}
        &nbsp;
        {% endif -%}
    </div>
</div>
{% endfor -%}

</div>
</body>
</html>
